* {

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.i {
    border-radius: 1em;
}

.header {
    /* height: 50rem; */
    /* width: 11000px; */
    min-height: 99.5vh;
    width: 100%;
    background-image: "../static/images/top.png";
    background-size: contain;
}

nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: left;
    margin-right: 1em;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 1.5em 2em;
    position: relative;
}

.nav-links ul li a {
    color: rgb(246, 245, 245);
    text-decoration: none;
    font-size: 1em;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #d3e023;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* .eyeImage{
      width:100px;
      height:200px;
      margin-top: 7%;
      margin-left: 10%;
      border-radius: 1em;
  } */
.text-box {
    margin-left: -30%;
    width: 100%;
    color: white;
    position: absolute;
    top: 35%;
    align-items: center;
    text-align: center;
}

.text-box h1 {
    font-size: 30px;
    font-weight: 300;
}

.subHeading {
    padding: 2em 2em;
    border-radius: 2em;
    margin-top: 0em;
    font-size: 20px;
    color: grey;
}


.box1 img {
    margin-left: 58%;
    margin-top: 3rem;
}

.app__about {
    background-color: rgb(195, 189, 189);
}

.heading {
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 38px;
    color: #4a2d4b;
    text-align: center;
    margin-bottom: .8rem;
}

.tagline {
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 18px;
    color: #5e3a60;
    text-align: center;
    margin-bottom: 1rem;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.about {
    margin-left: -25rem;
    margin-right: 10rem;
}

.about1 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(40, 39, 39);
}

.about1_heading {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 35px;
}

.about1_content {
    font-family: 'Open Sans', sans-serif;
    width: 600px;
    line-height: 0.8cm;
    text-align: center;
    font-size: 18px;
    /* margin-top: -10px; */

}

.app__doctor_img img {
    width: 380px;
    height: 550px;

    border-radius: 15px;
    margin-right: -20rem;
    margin-left: 10rem;
    margin-bottom: 5rem;
}


.app__video {
    background-color: white;
}

.video {
    margin-left: 28%;
    border-radius: 8rem;
}


.app__predict {
    background-color: rgb(195, 189, 189);
}

.predict_heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    color: #4a2d4b;
    text-align: center;
    margin-bottom: 2rem;
}

.predict_tagline {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #5e3a60;
    text-align: center;
    margin-top: -2rem;
}

.registerForm {
    width: 380px;
    /* background-color: blue; */
    /* background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)); */
    background-color: #9c639f;
    background-image:
        radial-gradient(at 0% 0%, #4a2d4b 0, transparent 50%),
        radial-gradient(at 50% 0%, #754977 0, transparent 50%),
        radial-gradient(at 100% 0%, #512553 0, transparent 50%);
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 1rem 1rem;
    margin-left: 470px;
    margin-right: 40rem;
    /* justify-content: center;
    align-items: center; */
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.predict_label {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(40, 39, 39);
    margin: 1rem 1rem 1rem 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;

}

.form-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(40, 39, 39);
    margin: 1rem 1rem 1rem 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.predict_input {
    align-items: center;

    margin-top: 5px;
    padding: .5rem .5rem;
    font-size: 16px;
    margin-left: 2rem;
    margin-right: 3rem;
    margin-top: -0.5rem;
    width: 280px;
    border-radius: 5rem;
}

.predict_input_symp {
    margin-top: 5px;
    padding: .5rem .5rem;
    font-size: 16px;
    margin-left: 2rem;
    margin-right: 3rem;
    margin-top: -0.5rem;
    width: 280px;
    border-radius: 1rem;
    height: 60px;
}

.Predictbutton {
    margin-top: .1rem;
    width: 80px;
    margin-left: 120px;
    padding: 10px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(40, 39, 39);
    margin-bottom: 1rem;
}

.predict_btn {
    font-weight: 300;
    font-size: 18px;
    margin-top: 0em;
    padding: 10px 10px;
    border-radius: .8em;
    cursor: pointer;
    background-color: rgb(190, 83, 83);
}


.app__footer {
    background-color: #897390;
}


.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: white;
}

.footer h4,
p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: 600;
    color: rgb(82, 81, 81);
}

.icons .fa {
    margin-top: -10em;
    color: rgb(46, 41, 41);
    margin: 0 10px;
    cursor: pointer;
    padding: 10px 0;
    font-size: 1.5em;
}