<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Alziheimer's Detection</title>
</head>

<body>
    <div class="class1">
        <section class="header">
            <nav>
                <a href=""><img src="{{url_for('static',filename='images/logoo.png')}}" width="70px" height="40px"></a>
                <!-- <p class="tagline">Your personal Eyecare buddy</p> -->
                <div class="nav-links">
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="">ABOUT US</a></li>
                        <li><a href="">PREDICT</a></li>
                        <li><a href="">CONTACT US</a></li>
                    </ul>
                </div>
            </nav>
            <div class="box1">
                <div class="text-box">
                    <h1>ALZIHIEMER AND ANXIETY DETECTION</h1>
                    <p class="subHeading">Welcome to our Alzihiermer detection website. <br>we provide cognitive
                        assessments and early detection
                        <br>and management of Alzhiermer's Disease. Our website <br>includes risk factors and life style
                        changes to<br>style changes to reduce the risk and connecting<br> to medical professionals
                    </p>
                    </p>
                </div>
                <img src="{{url_for('static',filename='images/brain.png')}}" class="neurons" width="580px"
                    height="480px"></img>
            </div>
        </section><br><br><br><br><br><br>
        <div class='app__about' id='About'>
            <p class='heading'>About Us</p>
            <p class='tagline'>Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Optio, dolorem.</p>
            <div class='content'>
                <div class='about'>
                    <div class='about1'>
                        <p class='about1_heading'>Alzihmer's</p>
                        <p class='about1_content'>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Magni commodi, totam ut ullam doloribus
                            numquam!dolor sit amet consectetur</p>
                    </div>
                    <div class='about1'>
                        <p class='about1_heading'>What we do</p>
                        <p class='about1_content'>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Magni commodi, totam ut ullam doloribus
                            numquam!</p>
                    </div>
                    <div class='about1'>
                        <p class='about1_heading'>Treatment and cure</p>
                        <p class='about1_content'>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Magni commodi, totam ut ullam doloribus
                            numquam!Magni commodi</p>
                    </div>
                </div>
                <div class="app__doctor_img">
                    <img src="{{url_for('static',filename='images/doctor.gif')}}" alt="doctorImg" />
                </div>
            </div>
        </div>
        <div class="app__video">
            <br><br>
            <p class="heading">SERVICES</p>
            <p class="tagline">24x7 Assistance</p>
            <center><video loop autoplay muted width="700" height="500">
                    <source src="{{ url_for('static', filename='images/brain.mp4') }}" type="video/mp4">
                </video>
            </center>
            <p class="tagline">We feel happy to help you just enter details and predict</p>
            <br><br><br><br><br>
        </div>

        <div class="app__predict" id="Predict">
            <div class="predict_form">
                <div class="predict_heading">
                    <p>Enter User's Details</p>
                </div>
                <div class="predict_tagline">
                    <p>A Quick Test is just a click away. Click Here!</p>
                </div>
                <div class="predict_form">
                    <form class="registerForm" action="/" method="post" enctype="multipart/form-data">

                        <label class="predict_label">Patient Name</label>
                        <input class="predict_input" name="name" type="text" placeholder="Enter Patient's name" />
                        <label class="predict_label">Email Id</label>
                        <input class="predict_input" name="emailId" type="text" placeholder="Enter Email Id" />
                        <label class="predict_label">Contact</label>
                        <input class="predict_input" name="contact" type="text" placeholder="Enter Contact" />
                        <label class="predict_label">Age</label>
                        <input class="predict_input" name="age1" type="text" placeholder="Enter age here" />
                        <label class="predict_label">Enter any specific symptoms</label>
                        <textarea name="symptoms" class="predict_input_symp" type="text" placeholder="Enter symptoms" id=""
                            cols="30" rows="10"></textarea>
                        <label class="form-label" for="form3Examplec">
                            Upload brain scan
                        </label>
                        <input type="file" class="predict_input" class="form-control" id="customFile"
                            name="imagefile"></input>
                        <button type="Predict Image" class="predict_btn" onclick="fn1()">Predict </button>
                        <div class="col-sm-12" align="center">
                            {% if predicted_value %}
                            <p>
                                <br>
                                <br>
                                Prediction: {{ predicted_value }}
                                <br>
                            </p>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            <br />
            <br />
            <br />
        </div>
        <div class="app__footer">
            <section class="footer">
                <h4>About us</h4>
                <p>Brain-Doc Your personal healtcare buddy</p>
                <div class="icons">
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-linkedin"></i>
                    <i class="fa fa-instagram"></i>
                    <p>By Brain-Doc</p>
                </div>
            </section>
        </div>


    </div>
</body>

</html>